#bloqueCgenerales {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  overflow: hidden;
  width: 100%;
}
#contenidoDer {
  height: 100%;
  overflow: hidden;
  width: 30%;
}
#contenidoDer,
#contenidoIzq {
  display: inline-block;
  vertical-align: top;
}
#contenidoIzq {
    height: 100%;
    overflow: hidden;
    width: 65%;
}
#contenidoIzq label {
  color: #fff;
  display: inline;
  font-family: "Segoe UI light";
  font-size: 32px;
}
#ContTitulo {
  margin: 68% 10px 0 10px;
}
#ContTitulo p {
  color: #fff;
  font-family: "Segoe UI light";
  font-size: 32px;
  line-height: 1;
  text-align: center;
}
#tituloApAn{
    height: 20%;
    margin: 20px 0 0 0;
    width: 84%;
}
#tituloApAn p{
    font-family: "Segoe UI light";
    font-size: 2em;
    margin-top: 6%;
    text-align: center;
}
#contForm{
	float: left;
	overflow: hidden;
	width: 100%;
}
.fila{
	float: left;
	margin-top: 16px;
	width: 100%;
}
.fila p{
	font-family: "Segoe UI light";
    font-size: 1.5em;
    line-height: 1.3;
    margin: 0 10px 0 30px;
    text-align: left;
}
.fila input{
	float: left;
	height: 28px;
	margin: 0 10px;
	width: 40%;
}
#fechas p{
	float: left;
	width: 35%;
}
#anio select{
	float: left;
	height: 28px;
	margin: 5px 10px;
	width: 30%;
}
#anio p{
	float: left;
	width: 30%;
}
#botonesDow{
	float: left;
	margin: 27px auto;
    overflow: hidden;
    width: 100%;
}
#botonesDow ul{
    list-style: none;
    margin: auto;
    overflow: hidden;
    width: 90%;
}
#botonesDow ul li{
    float: left;
    margin: 0 15px;
}
.botonesDw{
    cursor: pointer;
    font-family: "Segoe UI light";
    font-size: 1.96em;
    background-color: transparent;
    border: none;
}
.Inicio {
	top: 74%;
}