{% block menu_principal %}
<div id="ContAjax">
    <link rel="stylesheet" href="{{ asset('stylesheets/MenuAdmin.css') }}"/> 
        <div id="CsuperiorIzq">
            <a href="{{ path('ma1') }}" class="ajax">
                <div id="confSitema" class="boxMPA caja1MPA azul">
                   <img src="{{ asset('images/botones/b_ajustes.png') }}"/>
                   <p class="textoMPA TexLeft">Ajustes <br/> del Sistema</p>
                </div>
            </a>
            <div id="Estaditicas" class="boxMPA caja2MPA rojo">
                <a href="#" class="ajax">
                    <p class="textoMPA TexCentro">Estadisticas</p>
                </a>
            </div>
            <div id="planEstudios" class="boxMPA caja2MPA lima">
                <a href="{{path('planes1')}}" class="ajax">
                    <p class="textoMPA TexLeft">Plan <br/>de estudios</p>
                </a>
            </div>
        </div>
        <div id="CsuperiorDer">
                <div id="admacademica" class="boxMPA caja3MPA fucsia">
                    <a href="#">
                        <p class="textoMPA TexLeft">Administraci&oacute;n<br/>academica</p>
                    </a>
                </div>
                <div id="obsevaciones" class="boxMPA caja2MPA naranja">
                    <a href="#">
                        <p class="textoMPA TexCentro">Obsevaciones</p>
                    </a>
                </div>
                <div id="organizador" class="boxMPA caja2MPA morado">
                    <a href="#">
                        <p class="textoMPA TexCentro">Organizador</p>
                    </a>      
                </div>
        </div>
        <div id="CinferiorIzq">
                <div id="admPersonas" class="boxMPA caja4MPA amarillo ">
                    <a href="#" class="ajax">
                        <p class="textoMPA TexLeft">Administraci&oacute;n<br/> de Personas</p>
                    </a>
                </div>
                <div id="perfil" class="boxMPA caja5MPA verdeLight">
                    <a href="#">
                        <p class="textoMPA TexCentro">Perfil</p>
                    </a>
                </div>
        </div>
        <div id="CinferiorDer">
                <div id="tutoriales" class="boxMPA caja5MPA verdeDark ">
                    <a href="#">
                        <p class="textoMPA TexCentro">Tutoriales</p>
                    </a>
                </div>
                <div id="aulaVirtual" class="boxMPA  caja6MPA gris">
                    <a href="#">
                        <p class="textoMPA TexCentro">Aula Virtual</p>
                    </a>
                </div>
        </div>
</div>
{% endblock %}