
    {% block estilos %} 
        <link rel="stylesheet" href="{{ asset('stylesheets/Mnotificacion/notificacion.css') }}"/>
        <link rel="stylesheet" href="{{ asset('stylesheets/Mnotificacion/notificacion_ipadVertical.css') }}"/>  
    {% endblock %}
     <div id="notificaciones">
        <div id="tituloN">
            <p class="titulo">Resumen de Actividades</p>
        </div>
        <div id="contenidoN">
            <div id="fechaN"><p>19 de octubre de 2012</p></div>
            <div class="itemN">
                <div class="iconoN lima"><label>T</label></div>
                <div class="ContenidoN">
                    <div class="tituloN limaFc">
                        <p>TAREA DE ESPA&Ntilde;OL</p>
                    </div>
                    <div class="noticiaN">
                        <p>Para la proxima clase por favor traer las fotocopias asignadas</p>
                    </div> 
                </div>
            </div>
            <div class="itemN">
                <div class="iconoN azul"><label>E</label></div>
                <div class="ContenidoN">
                    <div class="tituloN azulFc">
                        <p>DIA DEL MAESTRO</p>
                    </div>
                    <div class="noticiaN">
                        <p>El dia  23 de octubre, todos los estuduantes deben llevar...</p>
                    </div> 
                </div>
            </div>
            <div class="itemN">
                <div class="iconoN morado"><label>A</label></div>
                <div class="ContenidoN">
                    <div class="tituloN moradoFc">
                        <p>SEMANA CULTURAL</p>
                    </div>
                    <div class="noticiaN">
                        <p>desde el 4 al 9 de noviembre empieza la semana cultural...</p>
                    </div> 
                </div>
            </div>
            <div class="itemN">
                <div class="iconoN fucsia"><label>A</label></div>
                <div class="ContenidoN">
                    <div class="tituloN fucsiaFc">
                        <p>MINITk INSTITUCIONAL</p>
                    </div>
                    <div class="noticiaN">
                        <p>El dia 5 de noviembre habra miniteka con motivo de la...</p>
                    </div> 
                </div>
            </div>
            <div class="itemN">
                <div class="iconoN naranja"><label>T</label></div>
                <div class="ContenidoN">
                    <div class="tituloN naranjaFc">
                        <p>TALLER DE Arte</p>
                    </div>
                    <div class="noticiaN">
                        <p>Para la proxima clase habra taller sobre los numeros romanos...</p>
                    </div> 
                </div>
            </div>      
        </div>
        <div id="paginadorN">
            <ul>
                  <li class="botonN">1</li>
                  <li class="botonN">2</li>
                  <li class="botonN">3</li>
                  <li class="botonN">4</li>
                  <li class="botonN">5</li>
                  <li class="botonN">6</li>
              </ul>  
        </div>       
      </div>
