{% block estilos %} 
    <link rel="stylesheet" href="{{ asset( 'stylesheets/mod-Notf.css') }}"/>
{% endblock %}
{% block notificaciones %}
    <div class="Box-ntf" data-role="tile-slider" data-param-period="10000">
            <div class="noticia">
                <h3>Noticias y Eventos</h3>
                <h4>Semana Cultural:</h4>
                <p>del 1 al 8 de diciembre empieza la semana cultural</p>
            </div>
            <div class="noticia">
                <h3>Noticias y Eventos</h3>
                <h4>Ciclo Paseo</h4>
                <p>el 6 de diciembre gran ciclo paseo</p>
            </div>
            <div class="estaticos">
                <div class="fecha">
                    <p>26 - Dic- 2012</p>
                </div>
                <div class="contador">
                    <p>12</p>                   
                </div>
            </div>
    </div>
    <div class="Box-ntf" data-role="tile-slider"  data-param-period="12000">
            <div class="noticia">
                <h3>Aula virtual</h3>
                <h4>Tarea de Matemáticas:</h4>
                <p>para el 8 de diciembre traer la tareas de numeros romanos</p>
            </div>
            <div class="noticia">
                <h3>Aula virtual</h3>
                <h4>Quiz de Quimica:</h4>
                <p>para el 3 de diciembre Quiz quimica</p>
            </div>
            <div class="estaticos">
                <div class="fecha">
                    <p>6 - Dic- 2012</p>
                </div>
                <div class="contador">
                    <p>5</p>                    
                </div>
            </div>
    </div> 
    <div class="Box-ntf" class="Box-ntf" data-role="tile-slider"  data-param-period="14000">
            <div class="noticia">
                <h3>Chat y Foros</h3>
                <h4>Ricardo Martinez</h4>
                <p>hola Andres como vas con la tarea de ingles</p>
            </div>
            <div class="noticia">
                <h3>Chat y Foros</h3>
                <h4>Andrea Lopez</h4>
                <p>Regresame mis libros</p>
            </div>
            <div class="estaticos">
                <div class="fecha">
                    <p>26 - Dic- 2012</p>
                </div>
                <div class="contador">
                    <p>7</p>                    
                </div>
            </div>
    </div> 
{% endblock %}