    {% block estilos %} 
    <link rel="stylesheet" href="{{ asset( 'stylesheets/menuInferior.css') }}"/>
    {% endblock %}  
    <div id="contenedorFooter">
    	<div id="menuC">
    		<ul>
    			<li class="azul box">&nbsp</li>
    			<li class="amarillo box">&nbsp</li>
    			<li class="rojo box">&nbsp</li>
    			<li class="lima box">&nbsp</li>
    			<li class="fucsia box">&nbsp</li>
    			<li class="verdeLight box">&nbsp</li>
    			<li class="verdeDark box">&nbsp</li>
    			<li class="naranja box">&nbsp</li>
    			<li class="morado box">&nbsp</li>
    			<li class="gris box">&nbsp</li>
    		</ul>
    	</div>
    </div>