    {% block estilos %} 
    {% endblock %}
        <link rel="stylesheet" href="{{ asset('stylesheets/MenuColores/mColores.css') }}"/>
        <link rel="stylesheet" href="{{ asset('stylesheets/MenuColores/mColores_ipadHorizontal.css') }}"/>  
        <link rel="stylesheet" href="{{ asset('stylesheets/MenuColores/mColores_ipadVertical.css') }}"/>  
    <div id="contenedorFooter">
    	<div id="menuC">
    		<ul>
    			<li class="azul box"></li>
    			<li class="amarillo box"></li>
    			<li class="rojo box"></li>
    			<li class="lima box"></li>
    			<li class="fucsia box"></li>
    			<li class="verdeLight box"></li>
    			<li class="verdeDark box"></li>
    			<li class="naranja box"></li>
    			<li class="morado box"></li>
    			<li class="gris box"></li>
    		</ul>
    	</div>
    	<div id="salir">
        	<a href="{{ path('logout') }}">Salir</a>
      	</div>
    </div>