<link rel="stylesheet" href="{{ asset('stylesheets/mod_autenticacion/mod_notf.css') }}"/>
<div id="contenedorAut">
	<div id="contLeft">
		<div class="Fl color1" id="m">
			<label class="textoItem">M</label>
		</div>
		<div class="Fl cajaTipo1 color2" id="f">
			<label class="textoItem">F</label>
		</div>
		<div class="Fl cajaTipo1 color3" id="c">
			<label class="textoItem">C</label>
		</div>
	</div>
	<div id="contUp">
		<div class="Fl cajaTipo2 color2" id="d">
			<label class="textoItem">D</label>
		</div>
		<div class="Fl cajaTipo2 color1" id="o">
			<label class="textoItem">O</label>
		</div>
		<div class="Fl cajaTipo2 color4" id="a">
			<label class="textoItem">A</label>
		</div>
		<div class="Fl cajaTipo2 color3" id="e">
			<label class="textoItem">E</label>
		</div>
	</div>
	<div id="contDow">
		<div class="Fl cajaTipo4 color1" id="l">
			<label class="textoItem">L</label>
		</div>
		<div class="Fl cajaTipo3 color2" id="i">
			<label class="textoItem">I</label>
		</div>
		<div class="Fl cajaTipo4 color4" id="t">
			<label class="textoItem">T</label>
		</div>	
	</div>
</div>