#bloqueCgenerales{
    height: 100%;
    vertical-align: top;
    overflow: hidden;
    width: 100%;
}
#contenidoDer{
    background: url('../../../images/backgroudAjax.svg') no-repeat ;
    background-position: 0 50%;
    height: 100%;
    float:left;
    overflow: hidden; 
    position: relative;
    width: 70%;
}
#contenidoIzq{
    float: left;
    overflow: hidden;
    position: relative;
    width: 30%;
}
#contenidoIzq  label{
    color: rgb(255,255,255);
    display: inline;
    font-family: "Segoe UI light";
    font-size: 32px;
}
#ContTitulo{
    float: left;
    margin: 68% 10px 0 10px;
}
#ContTitulo p {
    color: rgb(255,255,255);
    font-family: "Segoe UI light";
    font-size: 32px;
    line-height: 1;
    text-align: center;
}
#formulario{
    display: none;
}
#menuAux{
    position: relative;
    left: 170px;
    top: 100px;
    width: 100%;
}
#menuAux ul{
    display: block;
    list-style: none;   
}
#menuAux li{
    margin-bottom: 20px;
}
#menuAux li a{
    color: rgb(255,255,255);
    font-family: "Segoe UI light";
    font-size: 28px;
}