.fila{
    display: inline-block;
	vertical-align: top;
	width: 100%;
}
.botonesDw{
    line-height: 3;
}
.Inicio{
	top: 0px;
}
.nivel{
    background: lightblue;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 160px;
    margin: 5px 5px;
    padding: 10px;
    position: relative;
    vertical-align: top;
    width: 160px;
	text-align: center;
}
.primera{
	color: rgb(255,255,255);
    font-family: "Segoe UI light";
    font-size: 8em;
    line-height: 1;
    text-align: center;
}
.textoBlanco{
	color: rgb(255,255,255);
    font-family: "Segoe UI light";
    font-size: 1.5em;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}
#content_1 .letra:nth-child(5n){
    background: rgb(0,148,214);
}
#content_1 .letra:nth-child(5n+1){
   background: rgb(166,215,246);
}
#content_1 .letra:nth-child(5n+2){
    background: rgb(172,210,174);
}
#content_1 .letra:nth-child(5n+3){
    background: rgb(129,196,206);
}
#content_1 .letra:nth-child(5n+4){
    background: rgb(50,51,142);
}
#bloqueCgenerales{
    height: 100%;
    vertical-align: top;
    overflow: hidden;
    width: 100%;
}
#ContTitulo{
    margin: 42px 10px 0 35px;
}
#ContTitulo p {
    color: rgb(255,255,255);
    font-family: "Segoe UI light";
    font-size: 32px;
    line-height: 1;
    text-align: center;
}
#content_1{
    height: 212px;
    margin-top: 1.3em;
    overflow: hidden;
    padding: 0 30px;
}
.cupos{
    margin: .5em auto;
    width: 80%;
}
.cupos label{
    display: block;
}