#bloqueCgenerales {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  overflow: hidden;
  width: 100%;
}
#botonesDow{
  margin: 2%;
  width: 60%;
}
#botonesDow ul li{
  margin: 0 5%;
}
#contenidoDer {
  height: 86%;
  overflow: hidden;
  width: 65%;
}
#contenidoDer,
#contenidoIzq {
  display: inline-block;
  vertical-align: top;
}
#contenidoIzq {
  float: left;
  overflow: hidden;
  width: 30%;
}
#contenidoIzq label {
  color: #fff;
  display: inline;
  font-family: "Segoe UI light";
  font-size: 32px;
}
#ContTitulo {
  margin: 7.2% 2% 0 7%;
}
#ContTitulo p {
  color: #fff;
  font-family: "Segoe UI light";
  font-size: 32px;
  line-height: 1;
  text-align: center;
}
.estadoPer{
  width: 13%;
}
.estadoPer p{
  color: rgb(255,255,255);
  font-size: 2em;
  line-height: 1;
  margin-top: 21.6%;
  text-align: center;
}
.estadoPer label{
  color: rgb(255,255,255);
  display: block;
  font-size: 1.2em;
  line-height: 1.5;
  margin: auto;
  text-align: center;
  width: 90%;
}
.Inicio{
  top: -55px;
}
.fechasPer{
  width: 25%;
}
.fechasPer > .subT{
  width: 45%;
}
.fechasPer > .subT input{
  width: 100%;
}
.fechasPer > .subT p{
  color: rgb(255,255,255);
  font-size: 1em;
  text-align: center;
}
.fechasPer > .subT p span{
  font-size: 1.5em
}
.fechasPer > .subT:first-child{
  margin-right: 4%;
}
.fechasPer > .subT div{
  width: 45%;
}
.fechasPer > .subT .alineacionPfct:nth-child(2n+2){
  margin-right: 5%;
}
.NotasP{
  margin-left: 2%;
  width: 25%;
}
.NotasP > .subT{
  width: 45%;
}
.NotasP > .subT input{
  display: block;
  margin: auto;
  width: 80%;
}
.NotasP > .subT p{
  color: rgb(255,255,255);
  font-size: 1em;
  text-align: center;
}
.NotasP > p {
  color: rgb(255,255,255);
  text-align: center;
}
.NotasP > p span{
  font-size: 1.5em;
}
.NotasP > .subT:first-child{
  margin-right: 4%;
}
.periodo {
  margin: 0 2% 0 2%; 
  width:20%;
}
.periodo p {
  color: rgb(255,255,255);
  font-size: 1.5em;
  text-align: center;
}
.periodo div {
  width:16.5%;
  float: left;
}
.periodo div input{
  width:65px;
}
.porcentajP{
  width: 7%;
}
.porcentajP input{
  width: 100%;
}
.porcentajP label{
  color: rgb(255,255,255);
  display: block;
  font-size: 1.2em;
  line-height: 1.5;
  margin: auto;
  text-align: center;
  width: 90%;
}
.porcentajP p{
  margin-top: 38.6%;
  color: rgb(255,255,255);
  font-size: 2em;
  line-height: 1;
  text-align: center;
}
.TituloPer{
  margin: 3% 2% 0 2%;
  width: 20%;
}
.TituloPer p{
  color: rgb(255,255,255);
  font-size: 2em;
  line-height: 1;
  text-align: center;
}