#bloqueCgenerales {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  overflow: hidden;
  width: 100%;
}
#contenidoDer {
  height: 86%;
  overflow: hidden;
  width: 65%;
}
#contenidoDer,
#contenidoIzq {
  display: inline-block;
  vertical-align: top;
}
#contenidoIzq {
  float: left;
  overflow: hidden;
  width: 30%;
}
#contenidoIzq label {
  color: #fff;
  display: inline;
  font-family: "Segoe UI light";
  font-size: 32px;
}
#ContTitulo {
  float: left;
  margin: 68% 10px 0 10px;
}
#ContTitulo p {
  color: #fff;
  font-family: "Segoe UI light";
  font-size: 32px;
  line-height: 1;
  text-align: center;
}