.alineacionPfct
	display inline-block
	vertical-align top
.amarillo
	background-color rgb(242,201,47)
.amarillo:nth-child(3n+1)
	background-color rgb(239,200,37)
.amarillo:nth-child(3n+2)
	background-color rgb(239,200,50)
.amarillo:nth-child(3n+3)
	background-color rgb(239,200,90)
.amarilloFc
	color rgb(242,201,47)
.azul
	background-color rgb(0,172,237)
.azul:nth-child(3n+1)
	background-color rgb(0,148,214)		
.azul:nth-child(3n+2)
	background-color rgb(0,172,237)
.azul:nth-child(3n+3)
	background-color rgb(166,215,246)
.azulFc
	color rgb(0,172,237)
.blanco
	background-color rgb(255,255,255)
.blancoFc
	color rgb(255,255,255)
.botonesDw
	color white
	cursor pointer
	font-size 1.46em
	background-color transparent
	border none
.breadcumbr
	float right
	height 28px
	margin-right 10px
	overflow hidden
	position relative
	text-align center
	top 10px
	a
		color: rgb(255,255,255)
		font-size: 1.2em
.breadcumbrBlue
	left 70%
	max-width 200px
	position relative
	a
		color rgb(0,174,239)
		font-size 1.2em
.contenidoCentrado
	margin 0 auto .3em 
	max-width 1000px
	overflow hidden
.contenidoFull{
	margin 0
	width 100%
}
.contenedorMenu
	float left
	margin 5px 0
	overflow hidden
	width 75%
.ContenedorNotificaciones
	margin 5px 0
	width 25%
.cuerpoCentrado
	margin 0 auto
	max-width 1000px
	position relative
.fucsia
	background-color rgb(202,0,136)
.fucsiaFc
	color rgb(202,0,136)
.Inicio
	display inline
	float right
	position relative
	right 20px
	top 102px
	a
		color rgb(255,255,255)
		font-family "Segoe UI light"
		font-size 50px
.InicioBlue
	display inline
	float left
	position relative
	top 15px
	a
		color rgb(0,174,239)
		font-size 50px
.gris
	background-color rgb(138,155,168)
.grisFc
	color rgb(138,155,168)
.lima
	background-color rgb(177,205,73)
.limaFc
	color rgb(177,205,73)
.margen
	margin .5em
.naranja
	background-color rgb(219,129,45)
.naranjaFc
	color rgb(219,129,45)
.morado
	background-color rgb(139,39,139)
.moradoFc
	color rgb(139,39,139)
.overlay
	background-color:rgba(0, 0, 0, 0.85)
	background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9
	bottom:0
	color:white
	height 98.2%
	left:0
	position:absolute
	right:0
	top:0
	width 74%
	z-index:9999
	.txt
		display: inline-block
		vertical-align: middle
		padding: 10px 15px
		position:relative
.overlay
	display none
	text-align center
.overlay:before
	content ''
	display inline-block
	height 100%
	vertical-align middle
	margin-right -0.25em
.formOverlay
	height 180px
	margin auto
	width 50%
	.linea
		display inline-block
		vertical-align top
		width 100%
		.titulo
			margin 10px auto
			width 80%
			p
				color rgb(255,255,255)
				font-size 20px
				line-height 1
				text-transform uppercase
		.entrada
			margin 10px auto
			width 50%
			input
				font-size 20px
				line-height 1
				text-align center
				width 100%
.rojo
	background-color rgb(204,33,40)
.rojoFc
	color rgb(204,33,40)
.verdeDark
	background-color rgb(50,164,86)
.verdeDarkFc
	color rgb(50,164,86)
.verdeLight
	background-color rgb(140,152,119)
.verdeLightFc
	color rgb(140,152,119)
background-size(arg ='')
	if arg == 'cover'
		-o-background-size arg
		-moz-background-size arg
		-webkit-background-size arg
		background-size arg