.alineacionPfct
	display inline-block
	vertical-align top
.amarillo
	background-color rgb(242,201,47)
.amarillo:nth-child(3n+1)
	background-color rgb(239,200,37)
.amarillo:nth-child(3n+2)
	background-color rgb(239,200,50)
.amarillo:nth-child(3n+3)
	background-color rgb(239,200,90)
.amarilloFc
	color rgb(242,201,47)
.azul
	background-color rgb(0,172,237)
.azul:nth-child(3n+1)
	background-color rgb(0,148,214)		
.azul:nth-child(3n+2)
	background-color rgb(0,172,237)
.azul:nth-child(3n+3)
	background-color rgb(166,215,246)
.azulFc
	color rgb(0,172,237)
.blanco
	background-color rgb(255,255,255)
.blancoFc
	color rgb(255,255,255)
.breadcumbr
	float right
	height 28px
	margin-right 10px
	overflow hidden
	position relative
	text-align center
	top 10px
	a
		color: rgb(255,255,255)
		font-size: 1.2em
.breadcumbrBlue
	left 70%
	max-width 200px
	position relative
	a
		color rgb(0,174,239)
		font-size 1.2em
.contenidoCentrado
	margin 0 auto .3em 
	max-width 1000px
	overflow hidden
.contenidoFull{
	margin 0
	width 100%
}
.contenedorMenu
	float left
	margin 5px 0
	overflow hidden
	width 75%
.ContenedorNotificaciones
	margin 5px 0
	width 25%
.cuerpoCentrado
	margin 0 auto
	max-width 1000px
	position relative
.fucsia
	background-color rgb(202,0,136)
.fucsiaFc
	color rgb(202,0,136)
.Inicio
	display inline
	float right
	position relative
	right 20px
	top 102px
	a
		color rgb(255,255,255)
		font-family "Segoe UI light"
		font-size 50px
.InicioBlue
	display inline
	float left
	position relative
	top 15px
	a
		color rgb(0,174,239)
		font-size 50px
.gris
	background-color rgb(138,155,168)
.grisFc
	color rgb(138,155,168)
.lima
	background-color rgb(177,205,73)
.limaFc
	color rgb(177,205,73)
.margen
	margin .5em
.naranja
	background-color rgb(219,129,45)
.naranjaFc
	color rgb(219,129,45)
.morado
	background-color rgb(139,39,139)
.moradoFc
	color rgb(139,39,139)
.overlay
	background-color rgba(0,0,0,.5)
	display none
	height 52.3%
	position absolute
	z-index 500
	width 58.6%
.formOverlay
	height 180px
	margin auto
	position relative
	top 25%
	width 50%
	.linea
		float left
		width 100%
		.titulo
			margin 10px auto
			width 50%
			p
				color rgb(255,255,255)
				font-size 20px
				line-height 1
				text-transform uppercase
		.entrada
			margin 10px auto
			width 50%
			input
				font-size 20px
				line-height 1
				text-align center
.rojo
	background-color rgb(204,33,40)
.rojoFc
	color rgb(204,33,40)
.verdeDark
	background-color rgb(50,164,86)
.verdeDarkFc
	color rgb(50,164,86)
.verdeLight
	background-color rgb(140,152,119)
.verdeLightFc
	color rgb(140,152,119)
background-size(arg ='')
	if arg == 'cover'
		-o-background-size arg
		-moz-background-size arg
		-webkit-background-size arg
		background-size arg