Azul = rgb(0,172,237)
Amarillo = rgb(239,200,37)
Rojo = rgb(204,33,40)
Lima = rgb(177,205,73)
Fucsia = rgb(202,0,136)
VerdeLight = rgb(140,152,119)
VerdeDark = rgb(50,164,86)
Naranja = rgb(219,129,45)
Morado = rgb(139,39,139)
Gris = rgb(138,155,168)
Negro = rgb(0,0,0)
Blanco = rgb(255,255,255)
#bloqueCgenerales
    display inline-block
    height 100%
    vertical-align top
    overflow hidden
    width 100%
#buscador
    float right
    margin 4% 4% 0 0
#ContTitulo
    margin-left 2%
    width 60%
    p
        font-size 2.2em
        line-height 1
        margin-top 11%
        text-align center
.alinear,.alineacionPfct
    display inline-block
    vertical-align top
.contenedorDerecha
	margin-left 2%
	width 20%
.contenedorIzq
	margin 0 1.5%
	width 74%
.containerSupDer
    width 27%
.fila2
    display block
    margin auto
    vertical-align top
    width 95%
.Inicio
    top -15px
.nivel
    cursor pointer
    display inline-block
    float left
    height 180px
    margin 5px 5px
    padding 10px
    position relative
    vertical-align top
    width 180px
    text-align center
.nivel:nth-child(4n+1)
	background-color rgb(195,214,47)
.nivel:nth-child(4n+2)
	background-color rgb(170,189,38)
.nivel:nth-child(4n+3)
	background-color rgb(127,189,44)
.nivel:nth-child(4n+4)
	background-color rgb(127,189,44)
.pantalla
	height 250px
	width 69.75em
.primera
    color rgb(255,255,255)
    font-family "Segoe UI light"
    font-size 8em
    line-height 1
    margin-bottom .09em
    text-align center

.textoBlanco
    color rgb(255,255,255)
    font-family "Segoe UI light"
    font-size 1.3em
    line-height 1
    text-align center
    text-transform uppercase
.panelInf
    label
        font-family "Segoe UI light"
        line-height 1
    label:first-child
        display inline-block
        font-size 8.5em
    label:nth-child(4n+2)
        display inline-block
        font-size 2.5em
    label:nth-child(4n+3)
        display block
        font-size 1.7em
        margin-left .2em
    label:nth-child(4n+4)
        display block
        font-size 1em
        margin-left 0.385em