.alineacionPfct
	display inline-block
	vertical-align top
.amarillo
	background-color rgb(239,200,37)
.amarilloFc
	color rgb(242,201,47)
.azul
	background-color rgb(0,172,237)
.azulFc
	color rgb(0,172,237)
.blanco
	background-color rgb(255,255,255)
.blancoFc
	color rgb(255,255,255)
.contenidoCentrado
	margin 0 auto .3em 
	max-width 1000px
	overflow hidden
.contenidoFull{
	margin 0
	width 100%
}
.contenedorMenu
	float left
	margin 5px 0
	overflow hidden
	width 75%
.ContenedorNotificaciones
	margin 5px 0
	width 25%
.cuerpoCentrado
	margin 0 auto
	max-width 1000px
	position relative
.fucsia
	background-color rgb(202,0,136)
.fucsiaFc
	color rgb(202,0,136)
.gris
	background-color rgb(138,155,168)
.grisFc
	color rgb(138,155,168)
.lima
	background-color rgb(177,205,73)
.limaFc
	color rgb(177,205,73)
.margen
	margin .5em
.naranja
	background-color rgb(219,129,45)
.naranjaFc
	color rgb(219,129,45)
.morado
	background-color rgb(139,39,139)
.moradoFc
	color rgb(139,39,139)
.rojo
	background-color rgb(204,33,40)
.rojoFc
	color rgb(204,33,40)
.verdeDark
	background-color rgb(50,164,86)
.verdeDarkFc
	color rgb(50,164,86)
.verdeLight
	background-color rgb(140,152,119)
.verdeLightFc
	color rgb(140,152,119)
background-size(arg ='')
	if arg == 'cover'
		-o-background-size arg
		-moz-background-size arg
		-webkit-background-size arg
		background-size arg