bgBrown = #30261c
tileSize = 200px

duration = .05s
curve = linear
perspective(arg)
  -webkit-perspective arg
  -moz-perspective arg
  -o-perspective arg
  perspective arg
rotar-x(arg)
  -webkit-transform: rotateX(arg)
  -moz-transform: rotateX(arg)
  -o-transform: rotateX(arg)
  transform: rotateX(arg)
transition(arg)
  -webkit-transition:arg
  -moz-transition:arg
  -o-transition:arg
  transition:arg
transformar(arg)
  -webkit-transform:(arg)
  -moz-transform:(arg)
  -o-transform:(arg)
  transform:(arg)
transformar-o(arg)
  -webkit-transform-origin:(arg)
  -moz-transform-origin:(arg)
  -o-transform-origin:(arg)
  transform-origin:(arg)

.itemMenu
  display: inline-block
  width: tileSize
  height: (tileSize / 2)
  line-height: @height
  perspective(300px)

  > div, a
    width: 100%
    text-align: center

  /* Style for the hidden link */
  > a
    display: block
    text-decoration: none


/* Flip effect */
.flip
  > div, a
    position: absolute
  > a
    rotar-x(-90deg)
  &:hover
    > div
      rotar-x(90deg)
    > a
      rotar-x(0deg)
  &:hover > div, > a
    transition(duration all curve 0)
  &:hover > a, > div
    transition(duration all curve duration)


/* Slide effect */
.slide
  overflow: hidden
  > div, a
    transition(duration*2 all curve)
    position: absolute
  > a
    transformar(translate(tileSize, 0))
  &:hover
    > div
      transformar(translate(-(tileSize), 0))
    > a
      transformar(translate(0, 0))
      img
        display inline-block
        transformar(translate(0, 0))
   

/* Shutter effect */
.shutter
  > div, a
    transition(duration*2 all curve)
    position: absolute
  > div
    z-index: 10
    transformar-o(0% 0%)
    
  &:hover
    > div
      transformar(rotateX(90deg))


/* Page effect */
.page
  > div, a
    transition(duration*4 all curve)
    position: absolute
    z-index: 5
  > div
    z-index: 10
    transformar-o(0% 0%)
    
  &:hover
    > div
      rotar-x(360deg)
      z-index: 1