@import "funciones.styl"
#asignatura
	padding 0 0 0 10%
	itemSelect(80%,29%,68.4%)
	p
		font-size 1.5em
		line-height 1.2
#actividades
	padding 0 0 0 10%
	itemInput(80%,62%,34.4%)
	p
		font-size 1.5em
		line-height 1.2
#bloqueCgenerales
	display inline-block
	height 100%
	vertical-align top
	overflow hidden
	width 100%
#ContTitulo
	margin-left 2%
	width 36%
	p
		font-size 2.2em
		line-height 1
		margin-top 19%
		text-align center
#curso
	padding 0 0 0 10%
	itemSelect(80%,20%,77.4%)
	p
		font-size 1.5em
		line-height 1.2
#main
	margin-top 2.5%
#periodo
	padding 0 0 0 10%
	itemSelect(30%,60%,30%)
	p
		font-size 1.5em
		line-height 1.2
#sede
	itemSelect(48%,22%,76%)
	p
		font-size 1.5em
		line-height 1.2
.breadcumbr a
	color black
.botonNext
	margin-top 30%
	button
		background transparent
		border solid 2px #fff
		color #fff
		font-size 1.3em
		padding 5%
		width 90%
		transition all 0.5s ease
		-webkit-transition: all 0.1s linear
	button:hover
		opacity: .6
.containerSupDer
	width 57%
.contenedorDerecha
	margin-left 2%
	width 70%
.contenedorIzq
	margin 0 1.5%
	width 20%
.Inicio
	top 10px
.descrip p
	display block
	font-size 1.5em
	margin auto
	text-align left
	width 93%


