@import "funciones.styl"
#bloqueCgenerales
	display inline-block
	height 100%
	vertical-align top
	overflow hidden
	width 100%
#ContTitulo
	margin-left 2%
	width 30%
	p
		font-size 2.2em
		line-height 1
		margin-top 22%
		text-align center
.alinear
	display inline-block
	vertical-align top
.botonesDw 
	color black
.breadcumbr a
	color black
.containerSupDer
	width 57%
.contenedorDerecha
	margin-left 2%
	width 20%
.contImg
	cursor pointer
	display block
	margin 30% auto 5%
	width 50%
	img
		width 100%
.contenedorIzq
	margin 0 1.5%
	width 74%
.Inicio
	top 10px
	a
		color black
.addEst label
	cursor pointer
	display block
	font-size 1.3em
	margin auto
	text-align center
	width 90%
.pantalla
	height 250px
	width 69.75em
.pantalla2
	display inline-block
	float left
	height 218px
	margin-right 1em
	vertical-align top
	width 25em
@import "cuadrosMetro.styl"