transformar(arg)
	-o-transform rotate(arg)
	-moz-transform rotate(arg)
	-webkit-transform rotate(arg)
	transform rotate(arg)	
#apellidos
	width 47%
	p
		display inline-block
		margin-right 2%
		vertical-align top
		width 30%
	input
		display inline-block
		vertical-align top
		width 63%
#bloqueCgenerales
    display inline-block
    height 100%
    vertical-align top
    overflow hidden
    width 100%
#buscador
	float right
	margin 4% 4% 0 0
#botonesDow
	width 62%
#ContTitulo
	margin-left 2%
	width 30%
	p
		font-size 2.2em
		line-height 1
		margin-top 22%
		text-align center
#Nombre
	width 52%
	p
		display inline-block
		margin-right 2%
		vertical-align top
		width 30%
	input
		display inline-block
		vertical-align top
		width 64%
.alinear
	display inline-block
	vertical-align top
.botonesDw 
	color black
.breadcumbr a
	color black
.containerSupDer
	width 57%
.contenedorDerecha
	margin-left 2%
	width 20%
.contImg
	display inline-block
	vertical-align top
	img
		width 100%
.contenedorIzq
	margin 0 1.5%
	width 74%
.Inicio
	top 10px
	a
		color black
.loader label
	cursor pointer
	display block
	font-size 1.3em
	margin auto
	text-align center
	width 90%
.pantalla
	width 546px
.tituloVertical
	display inline-block
	height 96%
	vertical-align top
	width 5%
.tituloVertical p
	font-size:1.2em !important
	left -4.55em
	position relative
	top 41%
	text-align center
	transformar(-90deg)
	width 200px
.contInf
	width 90%
	display inline-block
	vertical-align top