@import "clasesLima.styl"
#botonesDow
    margin auto
    position relative
    top 0em
    width 60%
    button
        color Lima
    input[type="button"]
        color Lima
.breadcumbr a
    color Lima
.Inicio
    right 37px
    top 10px
    a
        color Lima
.panelInf
    label
        color Lima
.pantalla
    height 231px