@import "tempCuadrosHz.styl"
.breadcumbr a
	color rgb(202,0,136)
.nivel:nth-child(4n+1)
	background-color rgb(193, 15, 131)
.nivel:nth-child(4n+2)
	background-color rgb(194, 57, 144)
.nivel:nth-child(4n+3)
	background-color rgb(178, 47, 82)
.nivel:nth-child(4n+4)
	background-color rgb(195, 24, 79)