#menuC 
	width 40%
	ul
		list-style none
		margin 0
		padding 0
		li
			width 1.5em
#menuC,#salir
	display inline-block
	vertical-align top
.box
	cursor pointer
	display inline-block
	max-height 18px
	max-width 18px
	vertical-align top
