#contenedorML
	display inline-block
	position absolute
	right 0
	vertical-align top
#menuL ul
	list-style none
.boxML
	cursor pointer
	margin .25em 0 0 0
	img
		max-height 100%
		max-width 100%
.efecto
	opacity .5
	transition all 0.2s ease
	-webkit-transition all 0.2s ease
.efecto:hover
	opacity 1