.alinear
	display inline-block
	margin 0
	overflow hidden
	padding 0
	vertical-align top
.arregloLabel
	display block
	margin auto
#contenedorAut
	@extend	.alinear
	height 40%
	width 100%
#contDow
	@extend	.alinear
	height 25%
	left 0
	width 100%
#contLeft
	@extend	.alinear
	height 100%
	width 30%
#contRight
	@extend	.alinear
	margin-left -1%
	width 69%
#contUp
	@extend	.alinear
	height 75%
	left 0
	width 100%
#a, #d, #e, #o
	height 50%
	margin-left -1.2%
	width 50%
	label
		@extend .arregloLabel
		font-size 5em
#c,#f
	height 25%
	width 100%
	label
		@extend .arregloLabel
		font-size 3em
#i,#l,#t
	height 100%
	margin-left -1.2%
	width 33.3%
	label
		@extend .arregloLabel
		font-size 3em
#m
	height 50%	
	width 100%
	label
		@extend .arregloLabel
		font-size 6em
#t
	margin-left -1.4%
.color1
	background-color rgb(177,205,73)
.color2
	background-color rgb(204,217,73)
.color3
	background-color rgb(50,164,87)
.color4
	background-color rgb(214,226,140)
.cajaTipo1
	width 100%
.cajaTipo2
	width 50%
.cajaTipo3
	width 40% 
.cajaTipo4
	width 30%
.cajaTipo1, .cajaTipo2, .cajaTipo3, .cajaTipo4
	display inline-block
	vertical-align top
.textoItem
	color rgb(255,255,255)
	font-family "Segoe UI light"
	text-align center
