.fila
	display inline-block
	vertical-align top
	width 100%
.nivel
	background lightblue
	cursor pointer
	display inline-block
	float left
	height 160px
	margin 5px 5px
	padding 10px
	position relative
	vertical-align top
	width 160px
	text-align center
.primera
	color rgb(255,255,255)
	font-family "Segoe UI light"
	font-size 7em
	line-height .7
	margin-bottom .08em
	text-align center
.textoBlanco
	color rgb(255,255,255)
	font-family "Segoe UI light"
	font-size 1.3em
	line-height 1.2
	text-align center
	text-transform uppercase
#bloqueCgenerales
	height 100%
	vertical-align top
	overflow hidden
	width 100%
#ContTitulo
	margin 42px 10px 0 35px
	p
		font-family "Segoe UI light"
		font-size 32px
		line-height 1
		text-align center
#content_1
	height 212px
	margin-top 1.3em
	overflow hidden
	padding 0 30px