/* Colores */
a {
  text-decoration: none;
}
body {
  font-size: 16px;
  font-family: "Segoe UI light";
}
h1 {
  color: #fff;
  font-family: "Champagne";
  font-size: 3em;
}
h2 {
  color: #fff;
  font-size: 2em;
}
h3 {
  color: #fff;
  font-size: 1.5em;
}
h4 {
  color: #fff;
  font-size: 0.8em;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Champagne';
  src: url('../font/Champagne_Limousines.eot');
  src: url('../font/Champagne_Limousines.eot?#iefix') format('embedded-opentype'),url('../font/Champagne_Limousines.woff') format('woff'),url('../font/Champagne_Limousines.ttf') format('truetype'),url('../font/Champagne_Limousines.svg') format('svg');
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../font/segoeui.eot');
  src: url('../font/segoeui.eot?#iefix') format('embedded-opentype'),url('../font/segoeui.woff') format('woff'),url('../font/segoeui.ttf') format('truetype'),url('../font/segoeui.svg') format('svg');
}
@font-face {
  font-family: 'Segoe UI Bold';
  src: url('../font/segoeuib.eot');
  src: url('../font/segoeuib.eot?#iefix') format('embedded-opentype'),url('../font/segoeuib.woff') format('woff'),url('../font/segoeuib.ttf') format('truetype'),url('../font/segoeuib.svg') format('svg');
}
@font-face {
  font-family: 'Segoe UI light';
  src: url('../font/segoeuil.eot');
  src: url('../font/segoeuil.eot?#iefix') format('embedded-opentype'),url('../font/segoeuil.woff') format('woff'),url('../font/segoeuil.ttf') format('truetype'),url('../font/segoeuil.svg') format('svg');
}
header {
  text-align: left;
}
#botonesDow {
  margin: auto;
  overflow: hidden;
  width: 100%;
}
#botonesDow ul {
  list-style: none;
  margin: auto;
  overflow: hidden;
  padding: 0;
  width: 95%;
}
#botonesDow ul li {
  display: inline-block;
  margin: 0 5px;
  vertical-align: top;
}
#ContAjax {
  height: 359px;
  overflow: hidden;
  vertical-align: top;
  width: 100%;
}
#ContAvatar {
  float: right;
  left: 72%;
  position: absolute;
  top: 10%;
  width: 11%;
  z-index: 4;
}
#ContAvatar img {
  border: solid 4px #b1cd49;
  width: 100%;
}
#ContFecha {
  overflow: hidden;
  position: relative;
}
#contenedorHeader {
  border-bottom: solid 4px #b1cd49;
  background: #41763c url("../images/fondoHeader.jpg") center 0 no-repeat fixed;
  max-height: 167px;
  margin-bottom: 0.1em;
  position: relative;
  z-index: 2;
}
#contenedorMetro {
  width: 74%;
}
#contenedorMetro,
#ContenedorNotf {
  display: inline-block;
  vertical-align: top;
}
#ContenedorNotf {
  max-height: 100%;
  overflow: hidden;
  width: 24%;
}
#contReloj {
  margin-bottom: 1.7em;
}
#Fecha {
  height: 50px;
  vertical-align: bottom;
  width: 70%;
}
#Fecha label {
  color: #ca0088;
  font-family: "Segoe UI light";
  font-size: 34px;
  line-height: 1;
}
#Fecha label span {
  float: left;
  font-size: 1.5em;
  width: 40%;
  line-height: 1;
}
#Fecha label p {
  float: left;
  font-family: "Segoe UI light";
  font-size: 1em;
  margin-left: 5px;
  position: relative;
  top: 27%;
  width: 50%;
  line-height: 1;
}
#loader_ajax {
  display: block;
  margin: 18% auto;
}
#main {
  overflow: hidden;
}
#tela {
  background: url("../images/pattern.png");
  max-height: 180px;
  position: relative;
  z-index: 3;
}
.bienvenida {
  width: 600px;
}
.botonRegresar {
  padding: 0 0.5em;
  max-width: 3em;
}
.botonRegresar a {
  color: #fff;
  font-family: "Segoe UI light";
  font-size: 1em;
}
.botonRegresar a img {
  display: block;
  padding: 1em 0 0 0;
  width: 100%;
}
.nombre {
  color: #fff;
  font-family: "Champagne";
  font-size: 4em;
  line-height: 1.8;
}
.alineacionPfct {
  display: inline-block;
  vertical-align: top;
}
.amarillo {
  background-color: #f2c92f;
}
.amarillo:nth-child(3n+1) {
  background-color: #efc825;
}
.amarillo:nth-child(3n+2) {
  background-color: #efc832;
}
.amarillo:nth-child(3n+3) {
  background-color: #efc85a;
}
.amarilloFc {
  color: #f2c92f;
}
.azul {
  background-color: #00aced;
}
.azul:nth-child(3n+1) {
  background-color: #0094d6;
}
.azul:nth-child(3n+2) {
  background-color: #00aced;
}
.azul:nth-child(3n+3) {
  background-color: #a6d7f6;
}
.azulFc {
  color: #00aced;
}
.blanco {
  background-color: #fff;
}
.blancoFc {
  color: #fff;
}
.botonesDw {
  color: #fff;
  cursor: pointer;
  font-size: 1.46em;
  background-color: transparent;
  border: none;
}
.breadcumbr {
  float: right;
  height: 28px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  top: 10px;
}
.breadcumbr a {
  color: #fff;
  font-size: 1.2em;
}
.breadcumbrBlue {
  left: 70%;
  max-width: 200px;
  position: relative;
}
.breadcumbrBlue a {
  color: #00aeef;
  font-size: 1.2em;
}
.contenidoCentrado {
  margin: 0 auto 0.3em;
  max-width: 1000px;
  overflow: hidden;
}
.contenidoFull {
  margin: 0;
  width: 100%;
}
.contenedorMenu {
  float: left;
  margin: 5px 0;
  overflow: hidden;
  width: 75%;
}
.ContenedorNotificaciones {
  margin: 5px 0;
  width: 25%;
}
.cuerpoCentrado {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}
.fucsia {
  background-color: #ca0088;
}
.fucsiaFc {
  color: #ca0088;
}
.Inicio {
  display: inline;
  float: right;
  position: relative;
  right: 20px;
  top: 102px;
}
.Inicio a {
  color: #fff;
  font-family: "Segoe UI light";
  font-size: 50px;
}
.InicioBlue {
  display: inline;
  float: left;
  position: relative;
  top: 15px;
}
.InicioBlue a {
  color: #00aeef;
  font-size: 50px;
}
.gris {
  background-color: #8a9ba8;
}
.grisFc {
  color: #8a9ba8;
}
.lima {
  background-color: #b1cd49;
}
.limaFc {
  color: #b1cd49;
}
.margen {
  margin: 0.5em;
}
.naranja {
  background-color: #db812d;
}
.naranjaFc {
  color: #db812d;
}
.morado {
  background-color: #8b278b;
}
.moradoFc {
  color: #8b278b;
}
.overlay {
  background-color: rgba(0,0,0,0.85);
  background: url("data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC") repeat scroll transparent 9;
  bottom: 0;
  color: #fff;
  height: 98.2%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 74%;
  z-index: 9999;
}
.overlay .txt {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  position: relative;
}
.overlay {
  display: none;
  text-align: center;
}
.overlay:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.formOverlay {
  height: 180px;
  margin: auto;
  width: 50%;
}
.formOverlay .linea {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.formOverlay .linea .titulo {
  margin: 10px auto;
  width: 80%;
}
.formOverlay .linea .titulo p {
  color: #fff;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
}
.formOverlay .linea .entrada {
  margin: 10px auto;
  width: 50%;
}
.formOverlay .linea .entrada input {
  font-size: 20px;
  line-height: 1;
  text-align: center;
  width: 100%;
}
.rojo {
  background-color: #cc2128;
}
.rojoFc {
  color: #cc2128;
}
.verdeDark {
  background-color: #32a456;
}
.verdeDarkFc {
  color: #32a456;
}
.verdeLight {
  background-color: #8c9877;
}
.verdeLightFc {
  color: #8c9877;
}
.itemMenu {
  display: inline-block;
  width: 200px;
  height: 100px;
  line-height: 100px;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  -o-perspective: 300px;
  perspective: 300px;
/* Style for the hidden link */
}
.itemMenu > div,
.itemMenu a {
  width: 100%;
  text-align: center;
}
.itemMenu > a {
  display: block;
  text-decoration: none;
}
.flip > div,
.flip a {
  position: absolute;
}
.flip > a {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.flip:hover > div {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.flip:hover > a {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.flip:hover > div,
.flip > a {
  -webkit-transition: 0.05s all linear 0;
  -moz-transition: 0.05s all linear 0;
  -o-transition: 0.05s all linear 0;
  transition: 0.05s all linear 0;
}
.flip:hover > a,
.flip > div {
  -webkit-transition: 0.05s all linear 0.05s;
  -moz-transition: 0.05s all linear 0.05s;
  -o-transition: 0.05s all linear 0.05s;
  transition: 0.05s all linear 0.05s;
}
.slide {
  overflow: hidden;
}
.slide > div,
.slide a {
  -webkit-transition: 0.1s all linear;
  -moz-transition: 0.1s all linear;
  -o-transition: 0.1s all linear;
  transition: 0.1s all linear;
  position: absolute;
}
.slide > a {
  -webkit-transform: translate(200px, 0);
  -moz-transform: translate(200px, 0);
  -o-transform: translate(200px, 0);
  transform: translate(200px, 0);
}
.slide:hover > div {
  -webkit-transform: translate(-200px, 0);
  -moz-transform: translate(-200px, 0);
  -o-transform: translate(-200px, 0);
  transform: translate(-200px, 0);
}
.slide:hover > a {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.slide:hover > a img {
  display: inline-block;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.shutter > div,
.shutter a {
  -webkit-transition: 0.1s all linear;
  -moz-transition: 0.1s all linear;
  -o-transition: 0.1s all linear;
  transition: 0.1s all linear;
  position: absolute;
}
.shutter > div {
  z-index: 10;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.shutter:hover > div {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.page > div,
.page a {
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
  position: absolute;
  z-index: 5;
}
.page > div {
  z-index: 10;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.page:hover > div {
  -webkit-transform: rotateX(360deg);
  -moz-transform: rotateX(360deg);
  -o-transform: rotateX(360deg);
  transform: rotateX(360deg);
  z-index: 1;
}
