@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    header{
    	max-height: 238px;
    }
    .nombre{
    	font-size: 3em;
    }
    #ContAvatar{
    	width: 221px;
    } 
    #Fecha label p{
    	font-size: 19px;
    	margin: 0 10px;
    }
    #Fecha label span{
    	font-size: 26px;
    }
    #contenedorML{
    	left: 95.4%;
    }
    #ContAjax{
    	width: 100%;
    }
    #contMetro {
    	max-height: 768px;
    }
}   