#addSede{
    float: left;
    padding: 5px;
    position: relative;
    top: 10px;
    width: 55%;
}
#addSede img{
    cursor: pointer;
    width: 100%;
}
#addSede p{
    color: rgb(0,174,239);
    font-family: "Segoe UI light";
    font-size: 18px;
    text-align: center;
}
#bloqueCgenerales{
    background: rgb(255,255,255) ;
    height: 100%;
    vertical-align: top;
    width: 100%;
}
#cargador{
    overflow: hidden;
    position: relative;
    top: 10px;
    width: 100%;
}
#contenidoDer{
    display: inline;
    float:right; 
    position: relative;
    width: 80%;
}
#contenidoIzq{
    max-width: 460px;
    position: absolute;
    width: 10%;
}
#contenidoIzq  label{
    color: rgb(255,255,255);
    display: inline;
    font-family: "Segoe UI light";
    font-size: 32px;
}
.contenedorSedes{
    margin: 5px 0px 0px 0px;
    float: left;
    height: 222px;
    width: 567px;
}
#content_1{
    height: 250px;
    overflow: hidden;
}
#TituloSecction{
    position: relative;
    width: 56%;
}
#TituloSecction label{
    color: rgb(0,174,239);
    font-family: "Segoe UI light";
    font-size: 30px;
}
.sede{
    border: solid 4px white;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 192px;
    margin: 10px 0;
    padding: 10px;
    position: relative;
    vertical-align: top;
    width: 200px;
}
.sede:hover{
   -webkit-box-shadow: inset 0px 0px 0px 3px rgba(0, 0, 0, .4);
    box-shadow: inset 0px 0px 0px 3px rgba(0, 0, 0, .4);
}
.sede:nth-child(3n+1){
    background-color:rgb(0,172,236);
    
}

.sede:nth-child(3n+2){
    background: red;
   background-color:rgb(129,196,206);

}
.sede:nth-child(3n){
    background: green;
   background-color:rgb(166,215,246);

}
   
.signoUp{
    color: white;
    font-family: "Segoe UI bold";
    font-size: 14em;
    line-height: 0.5;
    position: relative;
    text-align: center;
    top: -12px;
}
.titulocajas{
    color: white;
    font-family: "Segoe UI light";
    font-size: 2em;
    line-height: 1;
    max-width: 115px;
    margin: .5em auto;
    text-align: center;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    #addSede{
        margin: 0.75em 0 1em;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}