.alinear,
#contenedorAut,
#contDow,
#contLeft,
#contRight,
#contUp {
  display: inline-block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  vertical-align: top;
}
.arregloLabel,
#a label,
#d label,
#e label,
#o label,
#c label,
#f label,
#i label,
#l label,
#t label,
#m label {
  display: block;
  margin: auto;
}
#contenedorAut {
  height: 40%;
  width: 100%;
}
#contDow {
  height: 25%;
  left: 0;
  width: 100%;
}
#contLeft {
  height: 100%;
  width: 30%;
}
#contRight {
  margin-left: -1%;
  width: 69%;
}
#contUp {
  height: 75%;
  left: 0;
  width: 100%;
}
#a,
#d,
#e,
#o {
  height: 50%;
  margin-left: -1.2%;
  width: 50%;
}
#a label,
#d label,
#e label,
#o label {
  font-size: 5em;
}
#c,
#f {
  height: 25%;
  width: 100%;
}
#c label,
#f label {
  font-size: 3em;
}
#i,
#l,
#t {
  height: 100%;
  margin-left: -1.2%;
  width: 33.3%;
}
#i label,
#l label,
#t label {
  font-size: 3em;
}
#m {
  height: 50%;
  width: 100%;
}
#m label {
  font-size: 6em;
}
#t {
  margin-left: -1.4%;
}
.color1 {
  background-color: #b1cd49;
}
.color2 {
  background-color: #ccd949;
}
.color3 {
  background-color: #32a457;
}
.color4 {
  background-color: #d6e28c;
}
.cajaTipo1 {
  width: 100%;
}
.cajaTipo2 {
  width: 50%;
}
.cajaTipo3 {
  width: 40%;
}
.cajaTipo4 {
  width: 30%;
}
.cajaTipo1,
.cajaTipo2,
.cajaTipo3,
.cajaTipo4 {
  display: inline-block;
  vertical-align: top;
}
.textoItem {
  color: #fff;
  font-family: "Segoe UI light";
  text-align: center;
}
