<div class="perido">
    <div class="tituloTabla">
        <p>Escala Cuantitativa</p>
    </div>
    <div class="rangoCol">
       {{form_rest(form)}}
    </div>    
    <div style="display:none" >
        <button type="submit">Guardar</button>
    </div>
</div>{#fin Form2#}                        